<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISS Tracker</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    

</head>
<body>
   
    <div class="container"> 
        <h1>The ISS Location</h1>
        <div class="details">
            <div class="latitude">
                <label> Latitude:</label><span id="lat"></span>
            </div>
            <div class="longitude">
                <label> Longitude:</label><span id="lon"></span>
            </div>
        </div>
        <div id="map" class="theMap"></div>

    </div>




    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <script src="/main.js"></script>
</body>
</html>