@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #3571AE;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;

}

#map {
    height: 280px;

}

.load {
    display: block;
    font-size: 18px;
    font-weight: 500;

}

.latitude, .longitude {
    display: none;

}

.container {
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(0,0,0,0.08);


}

.container h1{
    font-size: 23px;
    font-weight: 500;
    padding: 17px 30px;
    border-bottom: 1px solid grey;

}

.container .details {
    display: flex;
    justify-content: center;
    padding: 30px 30px 40px 30px;
    align-items: center;
    flex-direction: row;
}

.latitude, .longitude {
    border: 1px solid #ccc;
    box-shadow: 10px 10px 15px rgb(0,0,0,0.08);
    padding: 5px;
    
}